* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background-color: rgb(32, 35, 41);
    color: #FFA000;
}

::selection {
    background-color: rgb(32, 35, 41);
    color: #FFA000;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background: rgb(20, 20, 20);
}

@media(max-width: 1080px) {
    html {
        font-size: 90%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 82%;
    }
}