.container {
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;
}

.container h2 {
    color: whitesmoke;
}

#search input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;

    border: none;
    background-color: #1f1e1e;
    color: rgb(235, 223, 223);
}

#search input:focus {
    outline: none;
}

#search ul img {
    width: 30px;
}

#clock {
    font-size: 9rem;
    font-weight: 600;
    color: whitesmoke;
}
