.container {
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;
    color: var(--text)
}

#search input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;

    border: none;
    background-color: var(--input-bg);
    color: var(--input-color);
}

#search input:focus {
    outline: 1px solid var(--input-border);
}

#search ul img {
    width: 30px;
}

#clock {
    font-size: 9rem;
    font-weight: 600;
    color: var(--text);
}
