.sidenav {
  position: fixed;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 60px;
  height: 100%;
  width: 0;
  z-index: 1;

  background-color: var(--menu-bg);
  color: var(--text);
  transition: 0.5s;
}

.sidenav a {
  position: absolute;
  top: 0;
  right: 15px;

  font-size: 36px;
  transition: 0.2s color;
}

.sidenav a:hover {
  color: whitesmoke;
}

.sidenav main {
  display: flex;
  flex-direction: column;
}

.sidenav main .item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.sidenav main .item h3 {
  margin: 10px;
}

.sidenav main .item select {
  border: 1px solid var(--text);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
}

.sidenav main hr {
  width: 80%;
  margin: auto;
}

.sidenav footer {
  width: 100%;

  font-size: 0.9rem;
  text-align: center;

  position: absolute;
  bottom: 0;
}

span {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text);

  position: absolute;
  left: 5px;
  top: -5px;
}

/* push page content to the right when you open the menu */
.container {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
