.note {
    background-color: transparent;
    box-shadow: 0 0 1em white;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: table;
    width: 20%;
    text-align: center;
    margin-top: 5px;
}

.note header {
    text-align: right;
    transition: background-color 0.5s;
    cursor: grab;
}

.note:hover header {
    background-color: black;
}

.note:hover {
    backdrop-filter: blur(2px);
}

.btn_excluir {
    border: none;
    color: white;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}